@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
html, body {
    margin: 0;
    padding: 0;
    width: 270px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
#top-container {
    display: flex;
    align-items: center;
    border: 0.5px solid #dadada;
}
#h2logo {
    width: 30px;
    height: 30px;
    margin: 0 12px 0 12px;
}
#header-title {
    font-weight: 600;
    font-size: 15px;
}
#searchbox-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchbox {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 0.5px solid #dadada;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    border: 0.5px solid #dadada;
    padding: 3px;
}
li:hover {
    background-color: #E8E8E8;
}
a {
    text-decoration: none;
    display: block;
    font-weight: bold;
    color: green;
}
a:visited {
    color: purple;
}
