@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    /* colors  */
    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --container-color: #FAFAFA;
    --container-color-alt: #F0EFEF;
    --body-color: #FCFCFC;
    --green-color: #50C878;
    /* font and typography  */
    --body-font: 'Poppins', sans-serif;
}
body.dark-theme {
    --title-color: #F2F2F2;
    --text-color: #BFBFBF;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2B2B2B;
}